# Chapter 3
## Built-In Data Structures, Functions, and Files

### Tuple
A tuple is a fixed-length, immutable sequence of Python objects which, once assigned, cannot be changed.

In [7]:
tup = (1,2,3)
tup2 = 1,2,3
print(tup == tup2)
tup

True

(1, 2, 3)

Further, any iterator or sequence can easily be turned into a tuple as follows

In [6]:
tup3 = tuple([1,2,3])
tup3

(1, 2, 3)

In [8]:
tuple('this can also be done')

('t',
 'h',
 'i',
 's',
 ' ',
 'c',
 'a',
 'n',
 ' ',
 'a',
 'l',
 's',
 'o',
 ' ',
 'b',
 'e',
 ' ',
 'd',
 'o',
 'n',
 'e')

In [20]:
# Element can be accessed using square brackets
for i in range(len(tup)):
    print(tup[i])

#or since tup is an iterator we may use
for i in tup:
    print(i)

1
2
3
1
2
3

In [22]:
tup + tup2

(1, 2, 3, 1, 2, 3)

In [23]:
tup*2

(1, 2, 3, 1, 2, 3)

In [26]:
a,b,c=tup
b

2

using the above functionality we can easily change variable names which in many languages looks like

In [29]:
a, b = 1, 2
temp = a
a = b
b = temp
print('a =', a)
print('b =', b)

a = 2
b = 1

In [30]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

the following can be a useful way to pick out the first values of a tuple object

In [38]:
values = 1,2,3,4,5
a,b, *rest = values
print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

In [48]:
# How many times does 3 occur in the following tuple?
tuple = (1,3,3,4,1,515,15,31,561,3,3,3,3,3,3131311313)
tuple.count(3)

7

### List
MUTABLE - LENGTH AND CONTENTS CAN BE MODIFIED - AS COMPARED TO TUPLES

In [50]:
# We can make a list based on the contents of a tuple and then modify it
l=list(tuple)
l

[1, 3, 3, 4, 1, 515, 15, 31, 561, 3, 3, 3, 3, 3, 3131311313]

In [51]:
l[3]

4

In [58]:
# iterator and generator objects can be materialized into list objects using list()
list(range(1,10,3))

[1, 4, 7]

In [67]:
# We can add 10 as the first item in the list, consequently pushing the index up by +1 for all other indices
l=list(tuple)
l.insert(0,10)
l

[10, 1, 3, 3, 4, 1, 515, 15, 31, 561, 3, 3, 3, 3, 3, 3131311313]

In [68]:
# we can remove and return an object in the list with a certain index using pop(index)
l.pop(0)

10

In [69]:
# or simply remove using remove("item to be removed")
l.remove(515)
l

[1, 3, 3, 4, 1, 15, 31, 561, 3, 3, 3, 3, 3, 3131311313]

In [74]:
# check to see if a list contains a certain object
print(15 in l)
3131 not in l

True

True

Checking whether a list contains a value is a lot slower than doing so with dictionaries and sets (to be introduced shortly), as Python makes a linear scan across the values of the list, whereas it can check the others (based on hash tables) in constant time.

In [75]:
[1,2] + [3, "foo"]

[1, 2, 3, 'foo']

In [86]:
# Exercise: Make a list of lists as follows [[1,2,3], [4,5,6], [7,8,9],..., [298,299,300]] 
# and then concatenate all lists into one as [1,2,3,4,5,...,298,299,300]

list1 = []
temp=[]
for i in range(1,300+1):
    temp.append(i)
    if i % 3 == 0:
        list1.append(temp)
        temp=[]
        
print('First list: ', list1)

list2 = []
for lists in list1:
    list2.extend(lists)

print('\nSecond list:', list2)

First list:  [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24], [25, 26, 27], [28, 29, 30], [31, 32, 33], [34, 35, 36], [37, 38, 39], [40, 41, 42], [43, 44, 45], [46, 47, 48], [49, 50, 51], [52, 53, 54], [55, 56, 57], [58, 59, 60], [61, 62, 63], [64, 65, 66], [67, 68, 69], [70, 71, 72], [73, 74, 75], [76, 77, 78], [79, 80, 81], [82, 83, 84], [85, 86, 87], [88, 89, 90], [91, 92, 93], [94, 95, 96], [97, 98, 99], [100, 101, 102], [103, 104, 105], [106, 107, 108], [109, 110, 111], [112, 113, 114], [115, 116, 117], [118, 119, 120], [121, 122, 123], [124, 125, 126], [127, 128, 129], [130, 131, 132], [133, 134, 135], [136, 137, 138], [139, 140, 141], [142, 143, 144], [145, 146, 147], [148, 149, 150], [151, 152, 153], [154, 155, 156], [157, 158, 159], [160, 161, 162], [163, 164, 165], [166, 167, 168], [169, 170, 171], [172, 173, 174], [175, 176, 177], [178, 179, 180], [181, 182, 183], [184, 185, 186], [187, 188, 189], [190, 191, 192], [193, 194, 195], [196, 197, 198], [199, 200, 201], [202, 203, 204], [205, 206, 207], [208, 209, 210], [211, 212, 213], [214, 215, 216], [217, 218, 219], [220, 221, 222], [223, 224, 225], [226, 227, 228], [229, 230, 231], [232, 233, 234], [235, 236, 237], [238, 239, 240], [241, 242, 243], [244, 245, 246], [247, 248, 249], [250, 251, 252], [253, 254, 255], [256, 257, 258], [259, 260, 261], [262, 263, 264], [265, 266, 267], [268, 269, 270], [271, 272, 273], [274, 275, 276], [277, 278, 279], [280, 281, 282], [283, 284, 285], [286, 287, 288], [289, 290, 291], [292, 293, 294], [295, 296, 297], [298, 299, 300]]

Second list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300]

Note that list concatenation by addition is a comparatively expensive operation since a new list must be created and the objects copied over. Using extend to append elements to an existing list, especially if you are building up a large list, is usually preferable.

That is in the following, alterantive 1 is faster than alternative 2:

In [88]:
# Alternative 1
# everything = []
# for chunk in list_of_lists:
#     everything.extend(chunk)
    
# Alternative 2
# everything = []
# for chunk in list_of_lists:
#      everything = everything + chunk

In [90]:
l = [1,3,2]
l.sort()
l

[1, 2, 3]

In [94]:
l = [0,1,2,3,4,5,6,7]
print(l[:])
print(l[3:5])

#obs l[i:j] returns a list of elements with index starting at i and ending at j-1

[0, 1, 2, 3, 4, 5, 6, 7]
[3, 4]

In [96]:
s = 'hello'
s[::-1]
#s[start index, stop index, order]

'olleh'

### Dictionary
- aka hash maps/associative arrays
- stores collection of key-value pairs that allows value to be accessed using the corresponding key

In [103]:
empty_dict = {}
dict = {"a": 'first thing', 'b': [2,2], 10: 'key, value'}
for item in dict: 
    print(item, dict[item])

a first thing
b [2, 2]
10 key, value

In [111]:
# we add a pair as follows
dict['key'] = 'value'
print(dict)

# recall: we can use tab for auto-completion to find methods for the dictionary object
dict.clear()
dict

# recall: we call call on a method followed by '?' to get more information about what it does
dict.clear?

{'key': 'value'}

the 'keys', 'values' and 'items' methods return iterator objects for the dictionary:

In [113]:
dict = {"a": 'first thing', 'b': [2,2], 10: 'key, value'}
list(dict.keys())

['a', 'b', 10]

In [114]:
for key in dict.keys():
    print(dict[key])

first thing
[2, 2]
key, value

In [115]:
list(dict.items())

[('a', 'first thing'), ('b', [2, 2]), (10, 'key, value')]

### creating dictionaries from sequences

In [116]:
zip?

In [119]:
key_list = ['a','b','c','d','e']
value_list = [1,2,3,4,5]

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value
    
mapping

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### Example use of dictionaries: creating a word dictionary :)

In [125]:
words = ["apple", "bat", "bar", "atom", "book"]
dictionary = {}

for word in words:
    letter = word[0]
    if letter not in dictionary:
        dictionary[letter] = [word]
    else:
        dictionary[letter].append(word)
        
dictionary

['apple', 'atom', 'bar', 'bat', 'book']

{'a': ['apple', 'atom'], 'b': ['bar', 'bat', 'book']}